In [21]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import os

In [22]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [23]:
# Read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [24]:
# Read the ride data file and store it in a pandas DataFrame.
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head(10)

                 city       date   fare        ride_id
0  Lake Jonathanshire  1/14/2019  13.83  5739410935873
1  South Michelleport   3/4/2019  30.24  2343912425577
2  Port Samanthamouth  2/24/2019  33.44  2005065760003
3          Rodneyfort  2/10/2019  23.44  5149245426178
4          South Jack   3/6/2019  34.58  3908451377344
5        South Latoya  3/11/2019   9.52  1994999424437
6       New Paulville  2/27/2019  43.25   793208410091
7        Simpsonburgh  4/26/2019  35.98   111953927754
8     South Karenland   1/8/2019  35.09  7995623208694
9       North Jasmine   3/9/2019  42.81  5327642267789

In [25]:
# Get the columns and the rows that are not null.
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [26]:
# Get the columns and the rows that are not null.
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [27]:
# Get the data types of each column.
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [28]:
# Get the unique values of the type of city.
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [29]:
# Get the number of data points from the Urban cities.
sum(city_data_df["type"]=="Urban")

66

In [30]:
# Get the number of data points from the Suburban cities.
sum(city_data_df["type"]=="Suburban")

36

In [31]:
# Get the number of data points from the Rural cities.
sum(city_data_df["type"]=="Rural")

18

In [32]:
# Get the columns and the rows that are not null.
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [33]:
# Get the columns and the rows that are not null.
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [34]:
# Get the data types of each column.
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [35]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the DataFrame
pyber_data_df.head()

                 city       date   fare        ride_id  driver_count   type
0  Lake Jonathanshire  1/14/2019  13.83  5739410935873             5  Urban
1  South Michelleport   3/4/2019  30.24  2343912425577            72  Urban
2  Port Samanthamouth  2/24/2019  33.44  2005065760003            57  Urban
3          Rodneyfort  2/10/2019  23.44  5149245426178            34  Urban
4          South Jack   3/6/2019  34.58  3908451377344            46  Urban