# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [7]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [33]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

                 city       date   fare        ride_id  driver_count   type
0  Lake Jonathanshire  1/14/2019  13.83  5739410935873             5  Urban
1  South Michelleport   3/4/2019  30.24  2343912425577            72  Urban
2  Port Samanthamouth  2/24/2019  33.44  2005065760003            57  Urban
3          Rodneyfort  2/10/2019  23.44  5149245426178            34  Urban
4          South Jack   3/6/2019  34.58  3908451377344            46  Urban

## Deliverable 1: Get a Summary DataFrame

In [9]:
#  1. Get the total rides for each city type
total_rides = pyber_data_df.groupby(["type"]).count()["ride_id"]

total_rides

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [10]:
# 2. Get the total drivers for each city type
total_drivers = city_data_df.groupby(["type"]).sum()["driver_count"]

total_drivers

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [11]:
#  3. Get the total amount of fares for each city type
total_fares = pyber_data_df.groupby(["type"]).sum()["fare"]

total_fares

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [12]:
#  4. Get the average fare per ride for each city type. 
avg_fare_per_ride = total_fares / total_rides

avg_fare_per_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [13]:
# 5. Get the average fare per driver for each city type. 
avg_fare_per_driver = total_fares / total_drivers

avg_fare_per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [14]:
#  6. Create a PyBer summary DataFrame. 
# Assemble into DataFrame.
pyber_summary_df = pd.DataFrame({
          "Total Rides" : total_rides ,
          "Total Drivers": total_drivers ,
          "Total Fares": total_fares,
          "Average Fare per Ride": avg_fare_per_ride,
          "Average Fare per Driver": avg_fare_per_driver})

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [15]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [16]:
#  8. Format the columns.
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:.0f}".format)

pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:.0f}".format)

pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map('${:,.2f}'.format)

pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map('${:,.2f}'.format)

pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map('${:,.2f}'.format)

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,1625,2405,"$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [57]:
# 1. Read the merged DataFrame
pyber_data_df.groupby

<bound method DataFrame.groupby of                     city       date   fare        ride_id  driver_count   type
0     Lake Jonathanshire  1/14/2019  13.83  5739410935873             5  Urban
1     South Michelleport   3/4/2019  30.24  2343912425577            72  Urban
2     Port Samanthamouth  2/24/2019  33.44  2005065760003            57  Urban
3             Rodneyfort  2/10/2019  23.44  5149245426178            34  Urban
4             South Jack   3/6/2019  34.58  3908451377344            46  Urban
...                  ...        ...    ...            ...           ...    ...
2370         Michaelberg  4/29/2019  13.38  8550365057598             6  Rural
2371     Lake Latoyabury  1/30/2019  20.76  9018727594352             2  Rural
2372         North Jaime  2/10/2019  11.11  2781339863778             1  Rural
2373        West Heather   5/7/2019  44.94  4256853490277             4  Rural
2374          Newtonview  4/25/2019  55.84  9990581345298             1  Rural

[2375 rows x 6 columns]>

In [59]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

sum_of_fares_df = pyber_data_df.groupby(["date" , "type"  ]).sum()["fare"]

sum_of_fares_df

date       type
1/1/2019   Rural        43.69
           Suburban    128.52
           Urban       127.78
1/10/2019  Suburban    348.12
           Urban       206.23
                        ...
5/6/2019   Urban       181.20
5/7/2019   Rural        44.94
           Suburban    274.09
           Urban       258.01
5/8/2019   Urban       170.82
Name: fare, Length: 334, dtype: float64

In [19]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
sum_of_fares_df = sum_of_fares_df.reset_index()

In [29]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
pivot_table = pd.pivot_table(pyber_data_df, index = "date",columns = "type", values = "fare" )
pivot_table

type           Rural   Suburban      Urban
date
1/1/2019   43.690000  32.130000  18.254286
1/10/2019        NaN  34.812000  29.461429
1/11/2019  16.420000  33.341667  28.924000
1/12/2019        NaN  28.600000  24.490000
1/13/2019        NaN  27.452000  23.668750
...              ...        ...        ...
5/4/2019         NaN  30.570000  24.890000
5/5/2019   26.530000  22.111429  23.007143
5/6/2019   37.293333  34.120000  30.200000
5/7/2019   44.940000  27.409000  21.500833
5/8/2019         NaN        NaN  24.402857

[128 rows x 3 columns]

In [22]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

new_data_df = sum_of_fares_df.loc["1/1/2019":"4/29/2019"] 
new_data_df

type       Rural  Suburban   Urban
date
1/1/2019   43.69    128.52  127.78
1/10/2019    NaN    348.12  206.23
1/11/2019  16.42    200.05  433.86
1/12/2019    NaN     57.20  391.84
1/13/2019    NaN    137.26  189.35
...          ...       ...     ...
4/25/2019  55.84    155.98  419.81
4/26/2019    NaN    132.45  330.98
4/27/2019  52.34    268.25  367.30
4/28/2019    NaN    188.71  328.78
4/29/2019  67.60    167.92  342.63

[112 rows x 3 columns]

In [24]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
df.index = pd.to_datetime(df.index)

NameError: name 'df' is not defined

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')